# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args:
          - --init-args=-backend=false
          - --init-args=-lockfile=readonly
      - id: terraform_tflint
        args:
          - --args=--module
      - id: terraform_trivy
        args:
          - --args=--tf-exclude-downloaded-modules
          - --args=--skip-dirs "**/.terraform/**/*"
          - --args=--severity=HIGH,CRITICAL
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
